:root {
  --primary: #457eb1;
  --secondary: #457eb1;
}

.btn {
  padding: 3px 10px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: #fff;
}

.btn-secondary {
  background-color: var(--primary);
  color: #fff;
}

.btn-medium {
  width: 158px;
  height: 42px;
}

.btn-large {
  width: 158px;
  height: 42px;
}
